body {
    padding-bottom: 40px;
    color: #5a5a5a;
    background-color: #FDFDFD;
    font-family: 'Source Code Pro' ;
}

.main-wrapper {
    padding: 20px;
}

.push-bottom {
    margin-bottom: 20px
}

.article-option {
    display: inline-block;
}

.draft-label {
    font-size: 12px;
    color: red;
    font-style: italic;
}

.btn-option {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.delete-icon {
    color: red;
}

.tag-link {
    padding:5px;
    border:1px solid #CCC;
    background: #FEFEFE;
    border-radius: 10px;
}

.tag-link {
    text-decoration: none;
}

.tag-link:hover {
    background: #EEE;
    text-decoration: none;
}