body {
    padding-bottom: 40px;
    color: #5a5a5a;
    background-color: #FDFDFD;
    font-family: 'Source Code Pro' ;
}

.main-wrapper {
    padding: 20px;
}

.push-bottom {
    margin-bottom: 20px
}